<button (click)="roleDice()">reload dice</button>
<div>
    <div id="attrless" class="f-row" dropzone="move" (dragover)="dragOver($event)" (drop)="drop($event)">
        <app-getstat draggable="true" (dragstart)="dragStart($event)" (dragover)="dragOver($event)" />
        <app-getstat draggable="true" (dragstart)="dragStart($event)" (dragover)="dragOver($event)" />
        <app-getstat draggable="true" (dragstart)="dragStart($event)" (dragover)="dragOver($event)" />
        <app-getstat draggable="true" (dragstart)="dragStart($event)" (dragover)="dragOver($event)" />
        <app-getstat draggable="true" (dragstart)="dragStart($event)" (dragover)="dragOver($event)" />
        <app-getstat draggable="true" (dragstart)="dragStart($event)" (dragover)="dragOver($event)" />
    </div>
    <div class="f-row">
        <div id="str" dropzone="move" (dragover)="dragOver($event)" (drop)="drop($event)">
            <h4>Strength</h4>
        </div>
        <div id="dex" dropzone="move" (dragover)="dragOver($event)" (drop)="drop($event)">
            <h4>Dexterity</h4>
        </div>
        <div id="con" dropzone="move" (dragover)="dragOver($event)" (drop)="drop($event)">
            <h4>Constitution</h4>
        </div>
        <div id="int" dropzone="move" (dragover)="dragOver($event)" (drop)="drop($event)">
            <h4>Intelligence</h4>
        </div>
        <div id="wis" dropzone="move" (dragover)="dragOver($event)" (drop)="drop($event)">
            <h4>Wisdom</h4>
        </div>
        <div id="cha" dropzone="move" (dragover)="dragOver($event)" (drop)="drop($event)">
            <h4>Charisma</h4>
        </div>
    </div>
    <span>cette fonctionalité n'est pas encore implementé entierement !!</span>
</div>